header {
  padding: 0px;
}
video {
  position: relative;
  width: 100%;
  height: 600px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.v {
  margin-top: 30px;
  position: absolute;
  color: #ffffff;
}
 
.v a {
  color: #ffffff;
  position: relative;
}
 
/* footer divs
 */
.paybtdiv {
  width: 100%;
  height: 70px;
 
  border-radius: 12px;
  background-color: #ffffff;
  font-size: large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.C {
  color: #ffffff;
  background-color: rgba(13, 112, 46, 0.911);
}
.D {
  color: #ffffff;
  background-color: rgba(9, 83, 34, 0.911);
}
.footerPay {
  z-index: 2;
  margin-top: 2px;
}
.p {
  position: absolute;
  bottom: 135px;
  width: 250px;
  margin-left: 1100px;
  margin-bottom: -330px;
  border-radius: 30px;
 
  color: cadetblue;
  background-color: rgb(5, 61, 29);
}
.C p {
  margin-top: 0px;
  font-size: 15px;
}
.D p {
  margin-top: 0px;
  font-size: 15px;
}