body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: larger;
}

/* navbar */
header {
  background-color: white;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px;
}
nav {
  height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover {
  font-weight: bold;
}
nav ul li a:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00704a;
}
nav ul li.logo {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

nav ul li.logo img {
  height: 60px;
}
nav ul li.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 50px;
  padding: 5px;
  width: 250px;
}

nav ul li.search-bar .search-icon {
  font-size: 1.2em;
  margin-right: 5px;
  margin-top: 2px;
}

nav ul li.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  border-radius: 50px;
}

nav ul li.profile-icon {
  margin-right: 60px;
}

nav ul li.profile-icon .user-icon {
  font-size: 1.2em;
}

.heading {
  /* margin-top: 100px; */
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  background-image: url("images/careers bg.jpg");
  background-size: cover;
}
.heading h2 {
  padding-top: 170px;
  color: white;
  font-weight: bolder;
}
.btn,
.courses-detail h3 a {
  color: #00704a !important;
}

/* Apply custom color to the "View Details" button inside .courses-info */
.courses-info .btn {
  background-color: #00704a;
  border-color: #00704a;
  color: white !important;
}
.btn:hover,
.courses-info .btn:hover {
  background-color: black;
  color: #ffffff !important;
}

/* Footer */
.footer {
  background-color: #063a28;
  height: auto;
}
.top-footer {
  display: flex;
}
.logo-footer {
  flex: 1;
  margin-top: 110px;
  margin-left: 80px;
  margin-right: -40px;
}
.about-us h3 {
  margin-left: 40px;
  color: #ffffff;
}
.about-us {
  flex: 1;
  margin-top: 100px;
}
.responsibility {
  flex: 1;
  margin-top: 100px;
}
.responsibility h3 {
  margin-left: 40px;
  color: #ffffff;
}
.quick-links {
  flex: 1;
  margin-top: 100px;
}
.quick-links h3 {
  margin-left: 40px;
  color: #ffffff;
}
.social-media {
  flex: 1;
  margin-top: 100px;
}
.social-media h3 {
  margin-left: 0px;
  color: #ffffff;
}

.download {
  flex: 1;
  margin-top: 120px;
}
ul {
  list-style: none;
  font-size: medium;
}
ul li {
  margin-bottom: 30px;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
.bottom-footer {
  display: flex;
  font-size: medium;
  padding-bottom: 50px;
}
.bottom-footer a {
  text-decoration: none;
  color: #ffffff;
}
.bottom-footer-left {
  margin-left: 140px;
  margin-top: -20px;
  color: #ffffff;
  font-size: medium;
}
.bottom-footer-right {
  margin-left: 365px;
  font-size: small;
}
hr {
  width: 80%;
  border-color: #ffffff;
}
