/* Style for home -> page session */
.home-nav{
    height: 15px;
    margin-top: 7%;
    font-size: 15px;
    /* position: relative; */
    right: 0%;
}
.home-nav a{
    text-decoration: none;
    color: black;
    
}

  /* Signup 2nd page(OTP) style */

  .signup2-inner-container{
    background-color: white;
    font-size: smaller;
  }

  .otpHead{
    font-size: large;
    margin-left: 10%;
  }
  .otp-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.otp-input {
    width: 40px;
    height: 50px;
    border: 1px solid #6b6b6b;
    border-radius: 4px;
    text-align: center;
    margin: 5px;
    font-size: 18px;
}
.enterOTP{
  color: #6b6b6b;
  font-weight: 300;
  text-align: center;
  margin-top: 5%;
}


 /* OTPpage to next page */

#nextButton{
  width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    position: relative;
    border-radius: 30px;  
    height: 50px;
    margin-top: 7%;
    margin-bottom: 100px;
    background-color: #115d42;
    color: white;
    cursor: pointer;
    border: none;
}


.greenTick{
  margin-top:10%;
  margin-left: 45%;
}

/* Payment and account creation successful message popup styling */
#successful{
  position: relative;
  top: 20%;
  left: 30%;
  right: 0;
  width: 40%;
  height: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #115d42;
  border-radius: 20px;
  position: fixed;
}

.successMessage{
  text-align: center;
}

.greenTick{
  margin-top:20%;
  margin-left: 45%;
  height: 60px;
  width: 60px;
}

.close{
    text-decoration: none;
}



.modal-confirm {
  color: #636363;
  /* margin: 30px auto; */
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 10px;
  border: none;
  width : 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 3rem;
  margin: 30px 0 -15px;
  
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 5px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #115d42;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modal-confirm.modal-dialog {
  margin-top: 6%;
  
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 20px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background: #115d42;
  text-decoration: none;
  transition: background 0.4s;
  line-height: normal;
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #115d42;
  outline: none;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
