body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: larger;
}

/* navbar */
header {
  background-color: white;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px;
}
nav {
  height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover {
  font-weight: bold;
}
nav ul li a:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00704a;
}
nav ul li.logo {
  display: flex;
  align-items: center;
  margin-left: 60px;
  margin-bottom: 15px;
}

nav ul li.profile-icon {
  margin-right: 60px;
}

nav ul li.profile-icon .user-icon {
  font-size: 1.2em;
}

/* Signup */
.green-section {
  background-color: #0b3f2d;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 85px;
}

.left-content {
  flex: 1;
  font-size: 18px;
  margin-left: 60px;
}
.left-content a {
  text-decoration: none;
  color: #ffffff;
}

.right-content {
  text-align: right;
}

.know-more-button {
  color: #ffffff;
  background-color: #0b3f2d;
  padding: 10px 20px;
  border: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  margin-right: 40px;
}
#rewards {
  margin-bottom: 0px;
}

/* Handcrafted Curations */
/* #curations {
  margin-top: 0px;
  margin-bottom: 20px;
} */

#curations {
  text-align: center;
}
#curations h2 {
  text-align: left;
  margin-left: 60px;
  font-size: 30px;
  margin-bottom: -20px;
}

.dish-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 250px;
}

.dish {
  margin: 50px;
  text-align: center;
  width: 120px;
}

.dish img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  transition: transform 0.3s, border 0.3s;
}
.dish:hover img {
  border: 3px solid #00704a;
  transform: scale(0.95);
}

.dish p {
  margin-top: 10px;
  font-weight: bold;
  font-size: smaller;
  text-align: center;
}

/* Offer Card */
#card-section {
  position: relative;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  background-image: url("/images/bluebg.png");
  background-size: cover;
  background-position: center;
  color: white;
  width: 1200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: none;
  border-radius: 10px;
}

.card-content {
  padding: 20px;
}
#flag {
  position: relative;
  float: left;
  width: 110px;
  margin-right: 1080px;
  margin-bottom: 2px;
}
.card-description {
  position: absolute;
  margin-top: 2px;
  text-align: left;
  color: black;
  margin-left: 150px;
  font-size: medium;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  margin-left: 65px;
  margin-right: 65px;
}

.left-arrow {
  left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.right-arrow {
  right: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.know-more-button2 {
  position: absolute;
  color: #ffffff;
  background-color: #115d42;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 380px;
  margin-top: 150px;
  font-size: medium;
  width: 150px;
  height: 30px;
  padding-top: 15px;
}

/* Latest Offerings */
#latest-offerings h2 {
  text-align: left;
  margin-left: 60px;
}

.item-container {
  display: flex;
  gap: 20px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  margin-left: 50px;
  margin-right: 50px;
}
.item-container::-webkit-scrollbar {
  width: 12px;
  height: 3px;
}

.item-container::-webkit-scrollbar-thumb {
  background-color: rgb(40, 108, 92);
}

.card-box {
  display: flex;
  flex-direction: column;
  font-size: medium;
  max-width: 300px;
  max-height: auto;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin-bottom: 50px;
  margin-left: 20px;
}
.card-box:hover {
  box-shadow: rgb(199, 198, 197) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.img-box {
  flex: 2;
}
.img-box img {
  width: 150px;
  height: auto;
  text-align: center;
  border-radius: 10px;
}
.content-box {
  flex: 1;
}
.add-item-button {
  color: #ffffff;
  background-color: #115d42;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  margin-left: 150px;
}

/* Barista Recommends */
#barista-recommends {
  background-color: #dbdbdb;
  height: auto;
}
#barista-recommends h2 {
  padding-top: 15px;
  margin-left: 60px;
}
.barista-container {
  display: flex;
  padding-bottom: 60px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  margin-left: 50px;
  margin-right: 50px;
}
.barista-container::-webkit-scrollbar {
  width: 12px;
  height: 3px;
}

.barista-container::-webkit-scrollbar-thumb {
  background-color: rgb(40, 108, 92);
}
.barista-box {
  background-color: #ffffff;
  margin-left: 30px;
  max-width: 300px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.barista-box:hover {
  box-shadow: rgb(142, 142, 142) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.barista-box img {
  border-radius: 10px;
}

/* World Of Coffee */
#coffee {
  background-color: #dbdbdb;
  margin-top: 50px;
  height: 500px;
  margin-bottom: 90px;
}
#coffee h2 {
  color: #0b3f2d;
  padding-left: 30px;
  padding-top: 20px;
  font-weight: 200%;
}
#coffee-story {
  position: relative;
  background-image: url("/images/coffee_culture_blog_web1_c6e691b286.jpg"); /* Add your background image */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px;
  height: 300px;
  width: 80%;
  margin-left: 90px;
  margin-top: 30px;
  border-style: none;
  border-radius: 10px;
  transition: filter 0.3s;
  overflow: hidden;
}
#coffee-story::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 0;
  transition: opacity 0.3s; /* Add transition for smooth effect */
}

#coffee-story:hover::before {
  opacity: 1;
}

.coffee-story-content {
  margin-top: 100px;
  font-size: medium;
  max-width: 800px;
  /* margin: auto; */
}
.coffee-story-content h1,
.coffee-story-content p {
  position: absolute;
  color: white !important;
  z-index: 1;
}

.coffee-story-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: left;
}

.coffee-story-content p {
  text-align: left;
  font-size: 1.2em;
  margin-top: 80px;
}

.learn-more-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  text-decoration: none;
  color: rgb(2, 2, 2);
  background-color: #ffffff;
  border-radius: 50px;
  width: 100px;
  text-align: left;
  margin-left: -400px;
  margin-top: 140px;
  position: absolute;
  z-index: 1;
}

/* Footer */
.footer {
  background-color: #063a28;
  height: auto;
}
.top-footer {
  display: flex;
}
.logo-footer {
  flex: 1;
  margin-top: 110px;
  margin-left: 80px;
  margin-right: -40px;
}
.about-us h3 {
  margin-left: 40px;
  color: #ffffff;
}
.about-us {
  flex: 1;
  margin-top: 100px;
}
.responsibility {
  flex: 1;
  margin-top: 100px;
}
.responsibility h3 {
  margin-left: 40px;
  color: #ffffff;
}
.quick-links {
  flex: 1;
  margin-top: 100px;
}
.quick-links h3 {
  margin-left: 40px;
  color: #ffffff;
}
.social-media {
  flex: 1;
  margin-top: 100px;
}
.social-media h3 {
  margin-left: 0px;
  color: #ffffff;
}

.download {
  flex: 1;
  margin-top: 120px;
}
ul {
  list-style: none;
  font-size: medium;
}
ul li {
  margin-bottom: 30px;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
.bottom-footer {
  display: flex;
  font-size: medium;
  padding-bottom: 50px;
}
.bottom-footer a {
  text-decoration: none;
  color: #ffffff;
}
.bottom-footer-left {
  margin-left: 140px;
  margin-top: -20px;
  color: #ffffff;
  font-size: medium;
}
.bottom-footer-right {
  margin-left: 365px;
  font-size: small;
}
hr {
  width: 80%;
}
