body {
  scroll-behavior: smooth;
}
.secnavhm {
  font-size: large;
  margin-left: 40px;
  color: grey;
}
a {
  text-decoration: none;
  color: grey;
}
.banner {
  background-color: #04442d;
  width: 100%;
  height: 370px;
}
.card-container {
  position: absolute;
  background-color: rgb(192, 161, 133);
  height: 240px;
  width: 80%;
  border-radius: 20px;
  align-items: center;
  margin-top: 70px;
  margin-left: 132px;
}
.card-container img {
  margin-right: 1000px;
  height: 220px;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardtext {
  position: absolute;
  color: black;
  margin-left: 50px;
}
.prbtflx {
  display: flex;
}
.mainbtn {
  margin-left: 730px;
  margin-bottom: 20px;
}
