#payPage{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(154, 154, 154, 0.628);
  position: fixed;
}

#gettingHelp{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(172, 172, 172, 0.525);
  position: fixed;
}
.modal {
    background-color: rgb(255, 255, 255);
    position: relative;
    position: fixed;
    z-index: 999;
    left: 27%;
    right: 25%;
    top: 10%;
    bottom: 7%;
    width: 45%;
    height: 80%;
    border-radius: 30px;
    padding: 2px;
    font-size: small;
  }
  
  .modal h2{
    padding-top: 10%;
    font-size: 28px;
    color: rgb(0, 53, 0);
  }
  .modal-content {
    margin-left: 20px;
    margin-right: 10px;
    width: 92%;
  }
  
  .close {
    color: green;
    float: right;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #loginForm{
    display: block;
    position: relative;
  }
#loginForm p{
  font-size: 10px;
}
  label{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: large;
  }
  #username, #password,#username-login{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }

   input:active, input:hover{
    border-top: none;
    border-left: none;
    border-right: none;
  }  

  input:focus {
    outline: none;
  }

  #togglePassword {
    cursor: pointer;
  }
  
  #loginButton {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: rgba(156, 156, 156, 0.943);
    width: 60%;
    border-radius: 30px;
    height: 40px;
    position: relative;
    align-items: center;
    margin-left: 20%;
    margin-top: 60px;
    color: white;
    border: none;
    cursor: pointer;
  }

  .green{
    color: green;
  }

  #loginButton:enabled,#resetButton:enabled,#nextButton:enabled #continueButton:enabled {
    background-color: #115d42; /* Change the color of button when enabled */
    color: white;
    cursor: pointer;
  }
  
  /* Style for the button when hovered */
  #loginButton:enabled:hover,#resetButton:enabled:hover,#nextButton:enabled:hover,#continueButton:enabled:hover {
    background-color: rgb(2, 46, 5); /* Change the color of button when enabled and hover over */
  }


/* gettingHelp page css */
  .dob-input {
    position: relative;
    width: 300px;
  }
  
  #dob {
    width: 97%;
    padding-right: 25px;
  }
  
  #resetButton {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: rgba(156, 156, 156, 0.943);
    width: 60%;
    border-radius: 30px;
    height: 40px;
    position: relative;
    align-items: center;
    margin-left: 20%;
    margin-top: 60px;
    color: white;
    border: none;
    cursor: pointer;
  }

  #resetButton:enabled {
    background-color: #115d42; /* Change the color of button when enabled */
    color: white;
    cursor: pointer;
  }
  
  /* Style for the button when hovered */
  #resetButton:enabled:hover {
    background-color: rgb(2, 46, 5); /* Change the color of button when enabled and hover over */
  }

  #username-help, #dob{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }

  /* style for date input  */
  .date-picker {
    position: relative;
  }
  
  #dateInput {
    padding-right: 30px;
  }
  
 i{
  color: #115d42;
 }
  

  /* Pay page styling */
  .inlineimage{max-width:470px;
    margin-right: 8px;
    margin-left: 10px}.images{display: inline-block;
    max-width: 98%;
    height: auto;
    width: 22%;
    margin: 1%;
    left:20px;
    text-align: center}
  
   
   .payContainer {
    padding-top: 100px;
    width: 60%;
    padding-left: 20%;
   }
   
   .panel {
    padding: 20px;
   }
   
   .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 20px;
   }
   
   .panel-body {
    padding: 20px;
   }
   
   .form-group {
    margin-bottom: 20px;
   }
   
   .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   }
   
   .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
   }
   
   .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
   }
   
   .btn-block {
    display: block;
    width: 100%;
   }
   
   .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
   }
   
   
   
   .btn-lg:hover,
   .btn-lg:focus,
   .btn-lg:active{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
   }
   
   
   .panel-footer {
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 20px;
   }
   
   .images {
    max-width: 100%;
    height: auto;
   }

   #paySuccess{
    position: relative;
    top: 20%;
    left: 30%;
    right: 0;
    width: 40%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #115d42;
    border-radius: 20px;
    position: fixed;
  }
  

  #accountSuccess{
    text-align: center;
  }
  
  .greenTick{
    margin-top:20%;
    margin-left: 45%;
  }

