body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: larger;
}

header {
  background-color: white;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav {
  height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover {
  font-weight: bold;
}
nav ul li a:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height of the underline as needed */
  background-color: #00704a; /* Green color */
}
nav ul li.logo {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

nav ul li.logo img {
  height: 60px;
}
nav ul li.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 50px;
  padding: 5px;
  width: 250px;
}

nav ul li.search-bar .search-icon {
  font-size: 1.2em;
  margin-right: 5px;
}

nav ul li.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  border-radius: 50px;
}

nav ul li.profile-icon {
  display: flex;
  align-items: center;
  margin-right: 60px;
  border-style: groove;
  border-radius: 50%;
}

nav ul li.profile-icon .user-icon {
  font-size: 1.2em;
}

.green-section {
  background-color: #0b3f2d;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  height: 40px;
}

.left-content {
  flex: 1;
  font-size: 18px;
  margin-left: 60px;
}
.left-content a {
  text-decoration: none;
  color: #ffffff;
}

.right-content {
  text-align: right;
}

.know-more-button {
  color: #ffffff;
  background-color: #0b3f2d;
  padding: 10px 20px;
  border: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  margin-right: 40px;
}
#rewards {
  margin-bottom: 0px; /* Adjust the margin as needed */
}

#curations {
  margin-top: 0px; /* Adjust the margin as needed */
}

#curations {
  text-align: center;
}
#curations h2 {
  text-align: left;
  margin-left: 60px;
  font-size: 30px;
  margin-bottom: -20px;
}

.dish-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dish {
  margin: 50px;
  text-align: center;
}

.dish img {
  border-radius: 50%;
  width: 120px; /* Adjust the width of the circular images */
  height: 120px; /* Adjust the height of the circular images */
  transition: transform 0.3s, border 0.3s;
}
.dish:hover img {
  border: 3px solid #00704a; /* Add a dark green border on hover */
  transform: scale(0.95); /* Apply a slight zoom on hover */
}

.dish p {
  margin-top: 10px;
  font-weight: bold;
  font-size: smaller;
}
#card-section {
  position: relative;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
  overflow: hidden;
}

.card {
  background-image: url("images/bluebg.png"); /* Add your background image */
  background-size: cover;
  background-position: center;
  color: white;
  width: 1200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: none;
  border-radius: 10px;
}

.card-content {
  padding: 20px;
}
#flag {
  position: relative;
  float: left; /* Add this to allow other elements to flow around it */
  width: 110px;
  margin-right: 1080px;
  margin-bottom: 2px;
}
.card-description {
  position: absolute;
  margin-top: 2px;
  text-align: left;
  color: black;
  margin-left: 150px;
  font-size: medium;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  margin-left: 65px;
  margin-right: 65px;
}

.left-arrow {
  left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.right-arrow {
  right: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.know-more-button2 {
  position: absolute;
  color: #ffffff;
  background-color: #115d42;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 380px;
  margin-top: 150px;
  font-size: medium;
  width: 150px;
  height: 30px;
  padding-top: 15px;
}
#latest-offerings h2 {
  text-align: left;
  margin-left: 60px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-box {
  max-width: 300px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.img-box img {
  width: 150px;
  height: auto;
  text-align: center;
  /* border-style: groove; */
  border-width: 70px;
}

#barista-recommends {
  background-color: rgb(186, 185, 185);
  height: auto;
}
#barista-recommends h2 {
  padding-top: 15px;
  margin-left: 60px;
}
.barista-container {
  display: flex;
  padding-bottom: 60px;
}
.barista-box {
  background-color: #ffffff;
  margin-left: 30px;
  max-width: 300px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.barista-box img {
  width: 50px;
}

#coffee-story {
  background-image: url("images/coffee_culture_blog_web1_c6e691b286.jpg"); /* Add your background image */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px;
}

.coffee-story-content {
  max-width: 800px;
  margin: auto;
}

.coffee-story-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.coffee-story-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.learn-more-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  text-decoration: none;
  color: white;
  background-color: #00704a; /* Green color */
  border-radius: 5px;
}
